<h1>Datos de Registro</h1>
     <ul>
         <li>E-mail: {{email}} </li>
         <li>Nombre: {{firstName}} </li>
         <li>Dirección: {{address}} </li>
         <li>Edad: {{edad}} </li>
        <li>Teléfono: {{phone}} </li>
    </ul>
    <img src= "/views/images/" alt= {{name}} style="width:6rem;">